$color-principal: #5B2585;
$color-principal-light: #8455aa;
$color-fondo: #DDDBF1;
$color-secundario: #D1BEB0;
$color-texto: #332244;
$color-acento: #A30015;
$color-fondo-footer: #c9c6e8;
$color-progress: #e7e2f3;
$color-body: #f7f4fb;
$fuente: 'Poppins', sans-serif;